@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  scroll-behavior: smooth;
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  width: 5px;
  /* ширина всей полосы прокрутки */
}

html::-webkit-scrollbar-track,
body::-webkit-scrollbar-track {
  background: #fff;
  /* цвет зоны отслеживания */
}

html::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb {
  background-color: #6d79ef;
  /* цвет бегунка */
  /* округлось бегунка */
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
body {
  font-family: "Montserrat", sans-serif;
}

.container {
  max-width: 1170px;
  margin: auto;
  height: 100%;
}

.header {
  width: 100%;
  height: 95px;
  background-color: #67aefc;
  position: relative;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.header__burger {
  display: none;
}

.header__burger-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
}

.header__burger-menu {
  -webkit-transition: 0.1s;
  transition: 0.1s;
  position: fixed;
  height: 0px;
  overflow: hidden;
  width: 100%;
  font-weight: 800;
  font-size: 17px;
  line-height: 27px;
  background-color: #67aefc;
  left: 0;
  z-index: 20;
  top: 49px;
}

.header__burger-menu ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 42px;
  gap: 43px;
  height: 100%;
  color: #fff;
  text-transform: uppercase;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__burger-menu ul li {
  cursor: pointer;
  position: relative;
}

.header .active-burger-menu {
  height: 328px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header__navigation {
  max-width: 620px;
  width: 620px;
}

.header__menu {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__menu li {
  cursor: pointer;
  display: inline;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  text-transform: capitalize;
  color: #fff;
  padding-bottom: 5px;
}

.header__button {
  background-color: #75e169;
  border-radius: 5px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  text-transform: uppercase;
  color: white;
  padding: 10px 42px;
}

.header__button:hover {
  outline: solid 2px #67aefc;
}

.header__button:active {
  outline: solid 2px #67aefc;
  background-color: #67aefc;
}

.header__button:hover {
  outline: solid 2px #fff;
}

.header__button:active {
  outline: solid 2px #fff;
  background-color: #fff;
  color: #67aefc;
}

.header .active-li {
  position: relative;
}

.header .active-li::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #fff;
  bottom: 0;
  left: 0;
}

.first-block {
  min-height: 766px;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.first-block .container {
  position: relative;
  z-index: 2;
}

.first-block .container > img:nth-child(1) {
  position: absolute;
  right: -167px;
  top: 111px;
}

.first-block .container > img:nth-child(2) {
  position: absolute;
  left: -83px;
  top: 120px;
}

.first-block .container > img:nth-child(3) {
  position: absolute;
  right: 255px;
  top: 92px;
}

.first-block__bg {
  height: 100%;
  width: 100%;
  z-index: 1;
  top: 0;
}

.first-block__bg img {
  position: absolute;
}

.first-block__bg img:nth-child(1) {
  left: 0;
  bottom: 41px;
}

.first-block__bg img:nth-child(2) {
  left: 63px;
  bottom: 95px;
}

.first-block__bg img:nth-child(3) {
  right: 0px;
  bottom: 136px;
}

.first-block__bg img:nth-child(4) {
  display: none;
}

.first-block__bg img:nth-child(5) {
  display: none;
}

.first-block__bg img:nth-child(6) {
  display: none;
}

.first-block__bg img:nth-child(7) {
  display: none;
}

.first-block__inner {
  padding-top: 171px;
  z-index: 12;
}

.first-block__title {
  font-weight: 900;
  font-size: 50px;
  line-height: 125%;
  color: #484848;
  max-width: 550px;
}

.first-block__text {
  margin-top: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  max-width: 432px;
}

.first-block__button {
  margin-top: 58px;
}

.first-block__button button {
  background-color: #75e169;
  border-radius: 5px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  text-transform: uppercase;
  color: white;
  padding: 22px 92px;
}

.first-block__button button:hover {
  outline: solid 2px #67aefc;
}

.first-block__button button:active {
  outline: solid 2px #67aefc;
  background-color: #67aefc;
}

.service-block {
  min-height: 703px;
  background-color: #daecff;
  padding-top: 120px;
  padding-bottom: 120px;
  position: relative;
  overflow-x: hidden;
}

.service-block .container {
  position: relative;
}

.service-block__inner {
  width: 100%;
  margin-top: 80px;
}

.service-block__inner ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}

.service-block__inner ul li {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 175%;
  height: auto;
  overflow: hidden;
  border-radius: 15px;
  background-color: #fff;
  padding: 20px 0;
}

.service-block__inner ul li .service-block__li-title {
  overflow: hidden;
  padding-left: 96px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-right: 24px;
  width: 100%;
}

.service-block__inner ul li .service-block__li-title::before {
  content: "";
  width: 24px;
  height: 24px;
  position: absolute;
  background-color: #75e169;
  border-radius: 50%;
  margin-left: -52px;
}

.service-block__inner ul li .service-block__li-title .list-btn {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 10px;
}

.service-block__inner ul li .service-block__full-text {
  width: 100%;
  margin-top: 34px;
  margin-left: 56px;
  padding: 9px 94px 9px 40px;
  margin-bottom: 47px;
  border-left: 1px solid #000;
  display: none;
}

.service-block__inner ul li .active-li {
  display: block;
}

.service-block__inner ul li .active-li-before {
  font-weight: 700;
}

.service-block__inner ul li .active-li-before::before {
  background-color: #67aefc;
}

.service-block #bag {
  position: absolute;
  right: -225px;
  bottom: -28px;
  z-index: 0;
}

.service-block .rotate-vector {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.stages-block {
  padding-top: 123px;
  padding-bottom: 123px;
  min-height: 908px;
  overflow-x: hidden;
}

.stages-block .container {
  position: relative;
}

.stages-block .container #whiteball,
.stages-block .container #whiteball {
  position: absolute;
  left: -115px;
  top: 6px;
}

.stages-block .container #stage-wave {
  position: absolute;
  bottom: -11px;
  right: -190px;
}

.stages-block__inner {
  overflow: hidden;
  margin-top: 84px;
}

.stages-block__slider-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 25px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.stages-block__slide {
  max-width: 694px;
  min-width: 694px;
  height: 389px;
  border: 2px solid #67aefc;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 70px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.stages-block__slide:nth-child(4) .stages-block__slide-title {
  max-width: 270px;
}

.stages-block__slide:nth-child(2) .stages-block__slide-title {
  max-width: 270px;
}

.stages-block__slide-title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 125%;
  margin-bottom: 21px;
}

.stages-block__slide-text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  width: 295px;
  font-size: 18px;
  line-height: 140%;
}

.stages-block__slide-img {
  float: right;
  margin-right: 33px;
  margin-left: 19px;
}

.stages-block__arrows {
  margin-top: 84px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}

.stages-block__arrows button {
  background-color: transparent;
  background-image: url("../img/right-arrow.png");
  width: 60px;
  height: 60px;
}

.stages-block__arrows button:first-child {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.stages-block__arrows button:hover {
  background-image: url("../img/active-arrow.png");
}

.examples-block {
  min-height: 1749px;
  background-color: #daecff;
  padding-top: 121px;
  padding-bottom: 121px;
  overflow-x: hidden;
}

.examples-block .container {
  position: relative;
}

.examples-block__inner {
  margin-top: 51px;
  overflow-x: hidden;
}

.examples-block__example-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 33px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.examples-block__first-col .examples-block__example-small:nth-child(1) {
  background-image: url("../img/examp-1.png");
}

.examples-block__first-col .examples-block__example-small:nth-child(2) {
  background-image: url("../img/examp-3.png");
}

.examples-block__first-col .examples-block__example-small:nth-child(3) {
  background-image: url("../img/examp-5.png");
}

.examples-block__example-small {
  width: 569px;
  height: 447px;
  background-size: cover;
  background-position: center;
  border-radius: 15px;
  position: relative;
}

.examples-block__example-small::before {
  content: attr(data-big-text);
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  background-color: #67aefc;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 125%;
  color: #fff;
  opacity: 0;
}

.examples-block__example-small::after {
  content: attr(data-small-text);
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 175%;
  color: #fff;
  padding-top: 55px;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.examples-block__example-small:hover::before {
  opacity: 1;
}

.examples-block__example-small:hover::after {
  opacity: 1;
}

.examples-block__second-col .examples-block__example-small:nth-child(1) {
  background-image: url("../img/examp-2.png");
}

.examples-block__second-col .examples-block__example-small:nth-child(2) {
  background-image: url("../img/examp-4.png");
}

.examples-block__second-col .examples-block__example-small:nth-child(3) {
  background-image: url("../img/examp-6.png");
}

.examples-block__first-col, .examples-block__second-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 38px;
}

.examples-block__arrows {
  width: 100%;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 107px;
  margin-top: 30px;
}

.examples-block__arrows button:hover {
  background-image: url("../img/active-arrow.png");
}

.examples-block__left-arrows, .examples-block__right-arrows {
  background-color: transparent;
  background-image: url(../img/right-arrow.png);
  width: 60px;
  height: 60px;
}

.examples-block__left-arrows {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.examples-block #examp-wave {
  position: absolute;
  left: -355px;
  top: 180px;
}

.examples-block #examp-ball {
  position: absolute;
  right: -247px;
  bottom: 123px;
}

.more-block {
  min-height: 724px;
  overflow-x: hidden;
  padding-top: 214px;
}

.more-block .container {
  position: relative;
}

.more-block .container .more-title-big {
  text-align: left;
}

.more-block .more-title-small {
  display: none;
}

.more-block .more-sphere {
  position: absolute;
  width: 59px;
  height: 59px;
  left: -221px;
  top: -67px;
}

.more-block__inner {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 37px;
}

.more-block__text-block {
  max-width: 670px;
  width: 670px;
}

.more-block__subtitle {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  margin-top: 53px;
  margin-bottom: 45px;
}

.more-block__button button {
  background-color: #75e169;
  border-radius: 5px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  text-transform: uppercase;
  color: white;
  padding: 23px 56px;
}

.more-block__button button:hover {
  outline: solid 2px #67aefc;
}

.more-block__button button:active {
  outline: solid 2px #67aefc;
  background-color: #67aefc;
}

.more-block__img-block {
  position: relative;
}

.more-block__img-block img {
  position: absolute;
  top: -70px;
}

.contact-block {
  min-height: 774px;
  background-color: #daecff;
  padding-top: 180px;
  padding-bottom: 128px;
  overflow-x: hidden;
  position: relative;
}

.contact-block .container {
  position: relative;
}

.contact-block img {
  position: absolute;
}

.contact-block #phone {
  top: 85px;
  left: -50px;
}

.contact-block #contact-wave {
  right: 0;
  top: 100px;
}

.contact-block #contact-small {
  display: none;
}

.contact-block__inner {
  max-width: 480px;
  margin: auto;
}

.contact-block__subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 175%;
  text-align: center;
  margin-bottom: 27px;
  margin-top: 35px;
}

.contact-block__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

.contact-block__form input {
  max-width: 470px;
  width: 470px;
  height: 58px;
  background-color: #fff;
  padding-left: 14px;
  border: solid 1px #67aefc;
  border-radius: 10px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.contact-block__form input:focus {
  border: solid 2px #67aefc;
}

.contact-block__form .contact-block__btn {
  background-color: #75e169;
  border-radius: 5px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  text-transform: uppercase;
  color: white;
  width: 270px;
  margin: auto;
  margin-top: 10px;
  border: none;
  cursor: pointer;
}

.contact-block__form .contact-block__btn:hover {
  outline: solid 2px #67aefc;
}

.contact-block__form .contact-block__btn:active {
  outline: solid 2px #67aefc;
  background-color: #67aefc;
}

.contact-block .email-div-erro {
  position: relative;
}

.contact-block .email-div-erro::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border: 0 solid transparent;
  border-right-width: 8px;
  border-left-width: 7px;
  border-bottom: 10px solid #fff;
  left: 5px;
  bottom: -10px;
  display: block;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.contact-block .email-div-erro::before {
  content: "Неверный пароль";
  color: red;
  letter-spacing: 1px;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: auto;
  background-color: #fff;
  left: 0;
  bottom: -44px;
  padding: 10px 15px;
  border-radius: 5px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.footer {
  min-height: 469px;
  background-color: #67aefc;
  padding-top: 101px;
}

.footer__inner {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: auto;
}

.footer .col-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 13px;
  margin-left: 125px;
  margin-right: 107px;
}

.footer .col-2 span {
  position: relative;
  padding-left: 31.5px;
}

.footer .col-2 span::before {
  content: "";
  background-image: url("../img/viber.png");
  background-size: cover;
  width: 22px;
  height: 22px;
  position: absolute;
  left: 0;
  top: 2px;
}

.footer .col-2-icon {
  display: none;
}

.footer .col-2,
.footer .col-3 {
  padding-top: 25px;
  padding-left: 7px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #fff;
  text-transform: capitalize;
}

.footer .col-3 {
  text-transform: lowercase;
}

.footer__contact-icon {
  max-width: 270px;
  width: 100%;
  margin-left: 5px;
  margin-top: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__contact-icon img {
  cursor: pointer;
}

.footer__bottom {
  font-weight: 400;
  font-size: 18px;
  line-height: 175%;
  color: #fff;
  text-align: center;
  margin-top: 120px;
}

.main-title {
  position: relative;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  font-size: 32px;
  line-height: 125%;
  /* or 40px */
  text-align: center;
  z-index: 1;
}

@media (max-width: 1190px) {
  .examples-block {
    min-height: auto;
    padding-bottom: 30px;
    overflow: visible;
  }
  .examples-block__example-main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 33px;
  }
  .examples-block__first-col, .examples-block__second-col {
    min-width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .examples-block__arrows {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .examples-block #examp-ball {
    width: 38px;
    height: 38px;
    position: absolute;
    right: 33px;
    bottom: -53px;
  }
  .more-block__text-block {
    width: 50vw;
  }
  .more-block__img-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    height: 100%;
    width: auto;
  }
  .more-block__img-block img {
    width: 50vw;
    position: absolute;
    top: 5vw;
  }
}

@media (max-width: 1180px) {
  .container {
    padding: 0 20px;
  }
  #bag {
    position: absolute;
    right: 0px;
    bottom: -28px;
  }
}

@media (max-width: 1000px) {
  .first-block .container > img:nth-child(1) {
    right: -20%;
    top: 250px;
    width: 70%;
  }
  .footer__inner {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer .col-2 {
    margin: 0;
  }
}

@media (max-width: 970px) {
  .contact-block #phone {
    width: 25%;
    top: 40%;
    left: -50px;
  }
  .contact-block #contact-wave {
    width: 20%;
    right: 0;
    top: 100px;
  }
}

@media (max-width: 900px) {
  .header {
    height: 49px;
  }
  .header__logo img {
    width: 60%;
  }
  .header__navigation {
    display: none;
  }
  .header__burger {
    display: block;
  }
}

@media (max-width: 800px) {
  .first-block .container > img:nth-child(1) {
    top: 350px;
  }
  .more-block {
    padding-top: 43px;
    padding-bottom: 50px;
  }
  .more-block__text-block {
    width: 100%;
    max-width: 100%;
  }
  .more-block__inner {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
    gap: 0px;
  }
  .more-block__inner .main-title {
    display: none;
  }
  .more-block__subtitle {
    font-weight: 400;
    font-size: 17px;
    line-height: 175%;
    margin-top: 29px;
    margin-bottom: 25px;
  }
  .more-block__img-block {
    margin-top: 15px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .more-block__img-block img {
    src: url(../img/more-info-small.png);
    width: 50%;
    min-width: 259px;
    position: relative;
    top: 0;
  }
  .more-block__button {
    width: 100%;
  }
  .more-block__button button {
    background-color: #75e169;
    border-radius: 5px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    text-transform: uppercase;
    color: white;
    padding: 23px 56px;
    width: 100%;
  }
  .more-block__button button:hover {
    outline: solid 2px #67aefc;
  }
  .more-block__button button:active {
    outline: solid 2px #67aefc;
    background-color: #67aefc;
  }
  .more-block .more-title-small {
    display: block;
    width: 100%;
    text-align: center;
  }
}

@media (max-width: 840px) {
  .footer {
    padding-top: 46px;
    padding-bottom: 130px;
  }
  .footer__inner {
    width: 100%;
    max-width: 280px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer__col {
    width: 100%;
  }
  .footer .col-2 {
    margin: 0;
    padding-left: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    gap: 8px;
    padding-left: 10px;
  }
  .footer .col-2 span {
    content: "a";
    padding-left: 44px;
    height: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer .col-2 span::before {
    width: 28px;
    height: 28px;
  }
  .footer .col-3 {
    text-align: left;
    padding-left: 35px;
    padding-top: 0;
    margin-top: 42px;
  }
  .footer__contact-icon {
    display: none;
  }
  .footer .col-2-icon {
    display: block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: auto;
    margin-top: 57px;
    gap: 25px;
    width: 240px;
  }
  .footer__bottom {
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: #fff;
    text-align: center;
    margin-top: 23px;
    padding: 0 20px;
  }
}

@media (max-width: 740px) {
  .stages-block {
    padding-top: 42px;
    padding-bottom: 45px;
    min-height: auto;
  }
  .stages-block .container #whiteball {
    width: 38px;
    height: 38px;
    left: -15px;
    top: -24px;
  }
  .stages-block__slide {
    width: 100%;
    min-width: 100%;
    height: auto;
    border: 2px solid #67aefc;
    border-radius: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 27px;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
  .stages-block__slide:nth-child(1) img, .stages-block__slide:nth-child(2) img {
    max-width: 220px;
  }
  .stages-block__slide:nth-child(5) img {
    max-width: 270px;
  }
  .stages-block__annotation {
    width: 100%;
    padding-left: 33px;
    padding-right: 29px;
  }
  .stages-block__slide-title {
    font-size: 17px;
    margin-bottom: 7px;
  }
  .stages-block__slide-text {
    width: auto;
    font-size: 17px;
    line-height: 175%;
  }
  .stages-block__slide-img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .stages-block__arrows {
    margin-top: 25px;
    gap: 107px;
  }
}

@media (max-width: 700px) {
  .contact-block {
    min-height: 774px;
    background-color: #daecff;
    padding-top: 42px;
    padding-bottom: 25px;
    overflow-x: hidden;
    position: relative;
  }
  .contact-block #phone,
  .contact-block #contact-wave {
    display: none;
  }
  .contact-block #contact-small {
    width: 60%;
    min-width: 285px;
    display: block;
    margin: auto;
    margin-top: 42px;
    position: relative;
  }
  .contact-block__inner {
    max-width: 400px;
    width: 100%;
  }
  .contact-block__subtitle {
    font-weight: 400;
    font-size: 17px;
    line-height: 175%;
    margin-top: 17px;
    margin-bottom: 25px;
  }
  .contact-block__form {
    width: 100%;
  }
  .contact-block__form input {
    width: 100%;
    max-width: 100%;
  }
  .contact-block__form button {
    background-color: #75e169;
    border-radius: 5px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    text-transform: uppercase;
    color: white;
    padding: 23px 84px;
    width: 270px;
    margin: auto;
    margin-top: 10px;
  }
  .contact-block__form button:hover {
    outline: solid 2px #67aefc;
  }
  .contact-block__form button:active {
    outline: solid 2px #67aefc;
    background-color: #67aefc;
  }
}

@media (max-width: 670px) {
  .first-block {
    font-size: 1em;
    min-height: 766px;
    width: 100%;
    position: relative;
    overflow: hidden;
  }
  .first-block__inner {
    position: relative;
    padding-top: 0;
    padding-bottom: 51px;
  }
  .first-block__bg {
    position: relative;
    overflow: hidden;
    height: 100vw;
    max-height: 550px;
    width: 100%;
    z-index: 1;
    top: 0;
  }
  .first-block__bg img {
    position: absolute;
  }
  .first-block__bg img:nth-child(1) {
    display: none;
  }
  .first-block__bg img:nth-child(2) {
    display: none;
  }
  .first-block__bg img:nth-child(3) {
    width: 70%;
    min-width: 184px;
    right: 0px;
    bottom: 136px;
  }
  .first-block__bg img:nth-child(4) {
    margin-left: 15%;
    margin-top: 20%;
    width: 80%;
    min-width: 300px;
    display: block;
  }
  .first-block__bg img:nth-child(5) {
    margin-left: 20%;
    margin-top: 15%;
    width: 20%;
    min-width: 47px;
    display: block;
  }
  .first-block__bg img:nth-child(6) {
    left: 0;
    top: 28px;
    min-width: 54px;
    display: block;
  }
  .first-block__bg img:nth-child(7) {
    left: 0;
    bottom: 28px;
    display: block;
  }
  .first-block .container {
    position: relative;
    z-index: 2;
  }
  .first-block .container > img {
    display: none;
  }
  .first-block__title {
    font-size: 8vw;
  }
  .first-block__button {
    margin-top: 34px;
  }
  .first-block__button button {
    background-color: #75e169;
    border-radius: 5px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    text-transform: uppercase;
    color: white;
    width: 100%;
    border-radius: 10px;
    padding: 22px 92px;
  }
  .first-block__button button:hover {
    outline: solid 2px #67aefc;
  }
  .first-block__button button:active {
    outline: solid 2px #67aefc;
    background-color: #67aefc;
  }
}

@media (max-width: 620px) {
  .examples-block__example-main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .examples-block__first-col, .examples-block__second-col {
    min-width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 15px;
  }
  .examples-block__example-small {
    max-width: 335px;
    max-height: 260px;
    width: 100%;
  }
  .examples-block__example-small::before {
    font-weight: 800;
    font-size: 17px;
    line-height: 27px;
    padding-bottom: 28px;
  }
  .examples-block__example-small::after {
    font-weight: 400;
    font-size: 17px;
    line-height: 175%;
    padding-top: 28px;
  }
}

@media (max-width: 570px) {
  .main-title {
    font-weight: 800;
    font-size: 23px;
    line-height: 150%;
    padding: 0 25px;
  }
  .service-block__inner ul li {
    padding-top: 22px;
    font-size: 17px;
    line-height: 175%;
  }
  .service-block__inner ul li .service-block__li-title {
    padding-left: 57px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .service-block__inner ul li .service-block__li-title::before {
    content: "";
    margin-top: 6px;
    width: 15px;
    height: 15px;
    margin-left: -33px;
  }
  .service-block__inner ul li .service-block__li-title .list-btn {
    padding-top: 9px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .service-block__inner ul li .service-block__full-text {
    margin-left: 32px;
    padding-left: 25px;
  }
  .service-block {
    padding-top: 16px;
    padding-bottom: 30px;
    min-height: auto;
  }
  .service-block #bag {
    display: none;
  }
  .service-block__inner {
    margin-top: 17px;
  }
  .service-block__inner ul li {
    font-weight: 400;
    font-size: 17px;
    line-height: 175%;
  }
  .service-block__inner ul li .service-block__full-text {
    padding-right: 70px;
  }
  .examples-block {
    padding-top: 23px;
  }
  .examples-block__inner {
    margin-top: 14px;
  }
  .stages-block__inner {
    margin-top: 20px;
  }
  .contact-block__inner {
    max-width: 100%;
  }
  .contact-block__form {
    gap: 10px;
  }
  .contact-block__form .contact-block__btn {
    width: 100%;
    margin-top: 5px;
    border-radius: 10px;
  }
}

@media (max-width: 380px) {
  .stages-block .stages-block__slide:nth-child(2) img {
    margin: 20px 0;
  }
  .stages-block__slide-img img {
    width: 100%;
  }
}

@media (max-width: 370px) {
  .first-block__bg img:nth-child(4) {
    margin-left: 5%;
  }
}
