@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  width: 10px;
  /* ширина всей полосы прокрутки */
}

html::-webkit-scrollbar-track,
body::-webkit-scrollbar-track {
  background: #a9a9a9;
  /* цвет зоны отслеживания */
}

html::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb {
  background-color: #19bd9a;
  /* цвет бегунка */
  border-radius: 20px;
  /* округлось бегунка */
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
body {
  font-family: "Montserrat", sans-serif;
}

.container {
  max-width: 1170px;
  margin: auto;
  height: 100%;
}

.header {
  width: 100%;
  height: 95px;
  background-color: #67aefc;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.header__burger {
  display: none;
}

.header__burger-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
}

.header__navigation {
  max-width: 620px;
  width: 620px;
}

.header__menu {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__menu li {
  display: inline;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  text-transform: capitalize;
  color: #fff;
}

.header__button {
  background-color: #75e169;
  border-radius: 5px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  text-transform: uppercase;
  color: white;
  padding: 10px 42px;
}

.first-block {
  min-height: 766px;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.first-block .container {
  position: relative;
  z-index: 2;
}

.first-block .container > img:nth-child(1) {
  position: absolute;
  right: -167px;
  top: 111px;
}

.first-block .container > img:nth-child(2) {
  position: absolute;
  left: -83px;
  top: 120px;
}

.first-block .container > img:nth-child(3) {
  position: absolute;
  right: 255px;
  top: 92px;
}

.first-block__bg {
  height: 100%;
  width: 100%;
  z-index: 1;
  top: 0;
}

.first-block__bg img {
  position: absolute;
}

.first-block__bg img:nth-child(1) {
  left: 0;
  bottom: 41px;
}

.first-block__bg img:nth-child(2) {
  left: 63px;
  bottom: 95px;
}

.first-block__bg img:nth-child(3) {
  right: 0px;
  bottom: 136px;
}

.first-block__inner {
  position: absolute;
  padding-top: 171px;
  z-index: 12;
}

.first-block__title {
  font-weight: 900;
  font-size: 50px;
  line-height: 125%;
  color: #484848;
  max-width: 550px;
}

.first-block__text {
  margin-top: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  width: 432px;
}

.first-block__button {
  margin-top: 58px;
}

.first-block__button button {
  background-color: #75e169;
  border-radius: 5px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  text-transform: uppercase;
  color: white;
  padding: 22px 92px;
}

@media (max-width: 1160px) {
  .container {
    padding: 0 20px;
  }
}
