@media (max-width: 1180px) {
  .container {
    padding: 0 20px;
  }
  #bag {
    position: absolute;
    right: 0px;
    bottom: -28px;
  }
}
@media (max-width: 900px) {
  .header {
    height: 49px;
    &__logo {
      img {
        width: 70%;
      }
    }
  }

  .header__navigation {
    display: none;
  }
  .header__burger {
    display: block;
  }
}

@media (max-width: 1000px) {
  .first-block {
    .container {
      & > img:nth-child(1) {
        right: -20%;
        top: 250px;
        width: 70%;
      }
    }
  }
}
@media (max-width: 800px) {
  .first-block {
    .container {
      & > img:nth-child(1) {
        top: 350px;
      }
    }
  }
}
@media (max-width: 670px) {
  .first-block {
    font-size: 1em;
    min-height: 766px;
    width: 100%;
    position: relative;
    overflow: hidden;
    &__inner {
      position: relative;
      padding-top: 0;
      padding-bottom: 51px;
    }
    &__bg {
      position: relative;
      overflow: hidden;
      height: 100vw;
      max-height: 550px;
      width: 100%;
      z-index: 1;
      top: 0;
      img {
        position: absolute;
        &:nth-child(1) {
          display: none;
        }
        &:nth-child(2) {
          display: none;
        }
        &:nth-child(3) {
          width: 70%;
          min-width: 184px;
          right: 0px;
          bottom: 136px;
        }
        &:nth-child(4) {
          margin-left: 15%;
          margin-top: 20%;
          width: 80%;
          min-width: 300px;
          display: block;
        }
        &:nth-child(5) {
          margin-left: 20%;
          margin-top: 15%;
          width: 20%;
          min-width: 47px;
          display: block;
        }
        &:nth-child(6) {
          left: 0;
          top: 28px;
          min-width: 54px;
          display: block;
        }
        &:nth-child(7) {
          left: 0;
          bottom: 28px;
          // width: 10%;
          display: block;
        }
      }
    }
    .container {
      position: relative;
      z-index: 2;
      & > img {
        display: none;
      }
    }
    &__inner {
    }

    &__title {
      font-size: 8vw;
    }

    &__text {
    }

    &__button {
      margin-top: 58px;
      button {
        @include main-btn;
        width: 100%;
        border-radius: 10px;
        padding: 22px 92px;
      }
    }
  }
}
@media (max-width: 370px) {
  .first-block {
    &__bg {
      img {
        &:nth-child(4) {
          margin-left: 5%;
        }
      }
    }
  }
}
@media (max-width: 570px) {
  .main-title {
    font-size: 23px;
  }
  .service-block__inner {
    ul {
      li {
        padding-top: 22px;
        font-size: 17px;
        line-height: 175%;
        .service-block__li-title {
          padding-left: 57px;
          align-items: flex-start;
          &::before {
            content: "";
            margin-top: 9px;
            width: 15px;
            height: 15px;
            margin-left: -33px;
          }
          .list-btn {
            padding-top: 9px;
            align-items: flex-start;
          }
        }
        .service-block__full-text {
          margin-left: 32px;
          padding-left: 25px;
        }
      }
    }
  }
  .service-block {
    padding-top: 16px;
    padding-bottom: 30px;
    #bag {
      display: none;
    }
  }
  .examples-block {
    padding-top: 23px;
  }
}
@media (max-width: 740px) {
  .stages-block {
    padding-top: 42px;
    .container {
      #whiteball {
        width: 38px;
        height: 38px;
        left: -15px;
        top: -24px;
      }
    }
    &__slide {
      width: 100%;
      min-width: 100%;
      height: auto;
      border: 2px solid $blue;
      border-radius: 15px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding-left: 0px;
      padding-right: 0px;
      padding-top: 27px;
      align-items: justify;
    }
    &__annotation {
      width: 100%;
      padding-left: 33px;
      padding-right: 29px;
    }
    &__slide-title {
      font-size: 23px;
    }
    &__slide-text {
      width: auto;
      font-size: 17px;
    }
    &__slide-img {
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: center;
    }
    &__arrows {
      gap: 107px;
    }
  }
}
@media (max-width: 380px) {
  .stages-block {
    &__slide-img {
      img {
        width: 100%;
      }
    }
  }
}
@media (max-width: 1190px) {
  .examples-block {
    min-height: auto;
    padding-bottom: 30px;
    &__example-main {
      display: flex;
      gap: 33px;
    }
    &__first-col,
    &__second-col {
      min-width: 100%;
      align-items: center;
    }
    &__arrows {
      display: flex;
    }
  }
}
@media (max-width: 620px) {
  .examples-block {
    &__example-main {
      display: flex;
      // gap: 33px;
    }
    &__first-col,
    &__second-col {
      min-width: 100%;
      align-items: center;
    }
    &__example-small {
      max-width: 335px;
      max-height: 260px;
      width: 100%;
      &::before {
        font-weight: 800;
        font-size: 17px;
        line-height: 27px;
      }
      &::after {
        font-weight: 400;
        font-size: 17px;
        line-height: 175%;
      }
    }
  }
}
