@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  width: 10px;
  /* ширина всей полосы прокрутки */
}

html::-webkit-scrollbar-track,
body::-webkit-scrollbar-track {
  background: #a9a9a9;
  /* цвет зоны отслеживания */
}

html::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb {
  background-color: #19bd9a;
  /* цвет бегунка */
  border-radius: 20px;
  /* округлось бегунка */
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
$blue: #67aefc;
$light-blue: #daecff;
$dark-blue: #6d79ef;
$green: #75e169;
$font: "Montserrat", sans-serif;

@mixin main-btn {
  background-color: $green;
  border-radius: 5px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  text-transform: uppercase;
  color: white;
}
body {
  font-family: $font;
}
.container {
  max-width: 1170px;
  margin: auto;
  height: 100%;
}
.header {
  width: 100%;
  height: 95px;
  background-color: $blue;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }
  &__burger {
    display: none;
  }
  &__burger-button {
    display: flex;
    gap: 5px;
  }

  &__logo {
  }

  &__navigation {
    max-width: 620px;
    width: 620px;
  }

  &__menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    li {
      display: inline;
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 20px;
      text-transform: capitalize;
      color: #fff;
    }
  }

  &__button {
    @include main-btn;
    padding: 10px 42px;
  }
}
.main {
}
.first-block {
  min-height: 766px;
  width: 100%;
  position: relative;
  overflow: hidden;
  .container {
    position: relative;
    z-index: 2;
    & > img:nth-child(1) {
      position: absolute;
      right: -167px;
      top: 111px;
    }
    & > img:nth-child(2) {
      position: absolute;
      left: -83px;
      top: 120px;
    }
    & > img:nth-child(3) {
      position: absolute;
      right: 255px;
      top: 92px;
    }
  }
  &__bg {
    height: 100%;
    width: 100%;
    z-index: 1;
    top: 0;
    img {
      position: absolute;
      &:nth-child(1) {
        left: 0;
        bottom: 41px;
      }
      &:nth-child(2) {
        left: 63px;
        bottom: 95px;
      }
      &:nth-child(3) {
        right: 0px;
        bottom: 136px;
      }
    }
  }
  &__inner {
    position: absolute;
    padding-top: 171px;
    z-index: 12;
  }

  &__title {
    font-weight: 900;
    font-size: 50px;
    line-height: 125%;
    color: #484848;
    max-width: 550px;
  }

  &__text {
    margin-top: 20px;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    width: 432px;
  }

  &__button {
    margin-top: 58px;
    button {
      @include main-btn;
      padding: 22px 92px;
    }
  }
}

@import "_media";
