@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  width: 10px;
  /* ширина всей полосы прокрутки */
}

html::-webkit-scrollbar-track,
body::-webkit-scrollbar-track {
  background: #a9a9a9;
  /* цвет зоны отслеживания */
}

html::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb {
  background-color: #19bd9a;
  /* цвет бегунка */
  border-radius: 20px;
  /* округлось бегунка */
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
$blue: #67aefc;
$light-blue: #daecff;
$dark-blue: #6d79ef;
$green: #75e169;
$font: "Montserrat", sans-serif;

@mixin main-btn {
  background-color: $green;
  border-radius: 5px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  text-transform: uppercase;
  color: white;
  &:hover {
    border: solid 2px $blue;
  }
}
body {
  font-family: $font;
}
.container {
  max-width: 1170px;
  margin: auto;
  height: 100%;
}
.header {
  width: 100%;
  height: 95px;
  background-color: $blue;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }
  &__burger {
    display: none;
  }
  &__burger-button {
    display: flex;
    gap: 5px;
  }

  &__logo {
  }

  &__navigation {
    max-width: 620px;
    width: 620px;
  }

  &__menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    li {
      display: inline;
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 20px;
      text-transform: capitalize;
      color: #fff;
    }
  }

  &__button {
    @include main-btn;
    padding: 10px 42px;
  }
}
.first-block {
  min-height: 766px;
  width: 100%;
  position: relative;
  overflow: hidden;
  .container {
    position: relative;
    z-index: 2;
    & > img:nth-child(1) {
      position: absolute;
      right: -167px;
      top: 111px;
    }
    & > img:nth-child(2) {
      position: absolute;
      left: -83px;
      top: 120px;
    }
    & > img:nth-child(3) {
      position: absolute;
      right: 255px;
      top: 92px;
    }
  }
  &__bg {
    height: 100%;
    width: 100%;
    z-index: 1;
    top: 0;
    img {
      position: absolute;
      &:nth-child(1) {
        left: 0;
        bottom: 41px;
      }
      &:nth-child(2) {
        left: 63px;
        bottom: 95px;
      }
      &:nth-child(3) {
        right: 0px;
        bottom: 136px;
      }
      &:nth-child(4) {
        display: none;
      }
      &:nth-child(5) {
        display: none;
      }
      &:nth-child(6) {
        display: none;
      }
      &:nth-child(7) {
        display: none;
      }
    }
  }
  &__inner {
    padding-top: 171px;
    z-index: 12;
  }

  &__title {
    font-weight: 900;
    font-size: 50px;
    line-height: 125%;
    color: #484848;
    max-width: 550px;
  }

  &__text {
    margin-top: 20px;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    max-width: 432px;
  }

  &__button {
    margin-top: 58px;
    button {
      @include main-btn;
      padding: 22px 92px;
    }
  }
}
.service-block {
  min-height: 703px;
  background-color: $light-blue;
  padding-top: 120px;
  padding-bottom: 120px;
  position: relative;
  overflow-x: hidden;
  .container {
    position: relative;
  }

  &__inner {
    width: 100%;
    margin-top: 80px;
    ul {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 10px;
      li {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 175%;
        height: auto;
        overflow: hidden;
        border-radius: 15px;
        background-color: #fff;
        padding: 20px 0;
        .service-block__li-title {
          &::before {
            content: "";
            width: 24px;
            height: 24px;
            position: absolute;
            background-color: $green;
            border-radius: 50%;
            margin-left: -52px;
          }
          overflow: hidden;
          padding-left: 96px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding-right: 24px;
          width: 100%;
          .list-btn {
            cursor: pointer;
            display: flex;
            align-items: center;
            margin-left: 10px;
          }
        }
        .service-block__full-text {
          width: 100%;
          margin-top: 34px;
          margin-left: 56px;
          padding: 9px 94px 9px 40px;
          margin-bottom: 47px;
          border-left: 1px solid #000;
          display: none;
        }
        .active-li {
          display: block;
        }
        .active-li-before {
          font-weight: 700;
          &::before {
            background-color: $blue;
          }
        }
      }
    }
  }
  #bag {
    position: absolute;
    right: -225px;
    bottom: -28px;
    z-index: 0;
  }
  .rotate-vector {
    transform: rotate(180deg);
  }
}
.stages-block {
  padding-top: 123px;
  padding-bottom: 123px;
  min-height: 908px;
  overflow-x: hidden;
  .container {
    position: relative;
    #whiteball,
    #whiteball {
      position: absolute;
      left: -115px;
      top: 6px;
    }
    #stage-wave {
      position: absolute;
      bottom: -11px;
      right: -190px;
    }
  }

  &__inner {
    overflow: hidden;
    margin-top: 84px;
  }

  &__slider-block {
    display: flex;
    gap: 25px;
    transition: 0.5s;
  }

  &__slide {
    max-width: 694px;
    // max-height: 389px;
    min-width: 694px;
    height: 389px;
    border: 2px solid $blue;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    padding-left: 70px;
    align-items: center;
  }

  &__slide-title {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 125%;
    margin-bottom: 21px;
  }

  &__slide-text {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    width: 295px;
    font-size: 18px;
    line-height: 140%;
  }

  &__slide-img {
    float: right;
    margin-right: 33px;
    margin-left: 19px;
  }

  &__arrows {
    margin-top: 84px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    button {
      background-color: transparent;
      background-image: url("../img/right-arrow.png");
      width: 60px;
      height: 60px;
      &:first-child {
        transform: rotate(180deg);
      }
      &:hover {
        background-image: url("../img/active-arrow.png");
      }
    }
  }
}

.examples-block {
  min-height: 1749px;
  background-color: $light-blue;
  padding-top: 121px;
  padding-bottom: 121px;
  overflow-x: hidden;
  .container {
    position: relative;
  }
  &__inner {
    margin-top: 51px;
    overflow-x: hidden;
  }

  &__example-main {
    display: flex;
    gap: 33px;
    transition: 0.3s;
  }

  &__first-col {
    .examples-block__example-small {
      &:nth-child(1) {
        background-image: url("../img/examp-1.png");
      }
      &:nth-child(2) {
        background-image: url("../img/examp-3.png");
      }
      &:nth-child(3) {
        background-image: url("../img/examp-5.png");
      }
    }
  }

  &__example-small {
    width: 569px;
    height: 447px;
    background-size: cover;
    background-position: center;
    border-radius: 15px;
    position: relative;
    &::before {
      content: attr(data-big-text);
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      border-radius: 15px;
      background-color: $blue;
      transition: 0.3s;
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 700;
      font-size: 21px;
      line-height: 125%;
      color: #fff;
      opacity: 0;
    }
    &::after {
      content: attr(data-small-text);
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      border-radius: 15px;
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 175%;
      color: #fff;
      padding-top: 55px;
      opacity: 0;
      transition: 0.3s;
    }
    &:hover::before {
      opacity: 1;
    }
    &:hover::after {
      opacity: 1;
    }
  }

  &__second-col {
    .examples-block__example-small {
      &:nth-child(1) {
        background-image: url("../img/examp-2.png");
      }
      &:nth-child(2) {
        background-image: url("../img/examp-4.png");
      }
      &:nth-child(3) {
        background-image: url("../img/examp-6.png");
      }
    }
  }

  &__first-col,
  &__second-col {
    display: flex;
    flex-direction: column;
    gap: 38px;
  }

  &__arrows {
    width: 100%;
    display: none;
    justify-content: center;
    gap: 107px;
    margin-top: 30px;
    button {
      &:hover {
        background-image: url("../img/active-arrow.png");
      }
    }
  }
  &__left-arrows,
  &__right-arrows {
    background-color: transparent;
    background-image: url(../img/right-arrow.png);
    width: 60px;
    height: 60px;
  }
  &__left-arrows {
    transform: rotate(180deg);
  }
  #examp-wave {
    position: absolute;
    left: -355px;
    top: 180px;
  }
  #examp-ball {
    position: absolute;
    right: -247px;
    bottom: 123px;
  }
}
.more-block {
  min-height: 724px;
  overflow-x: hidden;
  padding-top: 214px;
  .container {
    position: relative;
    .more-title-big {
      text-align: left;
    }
  }
  .more-title-small {
    display: none;
  }
  .more-sphere {
    position: absolute;
    width: 59px;
    height: 59px;
    left: -221px;
    top: -67px;
  }
  &__inner {
    width: 100%;
    display: flex;
    gap: 37px;
  }
  &__text-block {
    max-width: 670px;
    width: 670px;
  }

  &__subtitle {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    margin-top: 53px;
    margin-bottom: 45px;
  }

  &__button {
    button {
      @include main-btn;
      padding: 23px 56px;
    }
  }

  &__img-block {
    position: relative;
    img {
      position: absolute;
      top: -70px;
    }
  }
}
.contact-block {
  min-height: 774px;
  background-color: $light-blue;
  padding-top: 180px;
  padding-bottom: 128px;
  overflow-x: hidden;
  position: relative;
  .container {
    position: relative;
  }
  img {
    position: absolute;
  }
  #phone {
    top: 85px;
    left: -50px;
  }
  #contact-wave {
    right: 0;
    top: 100px;
  }
  #contact-small {
    display: none;
  }
  &__inner {
    max-width: 480px;
    margin: auto;
  }

  &__subtitle {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 175%;
    text-align: center;
    margin-bottom: 27px;
    margin-top: 35px;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    input {
      max-width: 470px;
      width: 470px;
      height: 58px;
      background-color: #fff;
      padding-left: 14px;
      border: solid 1px $blue;
      border-radius: 10px;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
      &:focus {
        border: solid 2px $blue;
      }
    }
    button {
      @include main-btn;
      padding: 23px 84px;
      width: 270px;
      margin: auto;
      margin-top: 10px;
    }
  }

  &__name-input {
  }

  &__telegram-input {
  }

  &__email-input {
  }
}
.footer {
  min-height: 469px;
  background-color: $blue;
  padding-top: 101px;
  &__inner {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    // justify-content: space-between;
    // padding-right: 200px;
  }

  &__col {
    // width: 33.333%;
  }
  .col-2 {
    display: flex;
    flex-direction: column;
    gap: 13px;
    margin-left: 125px;
    margin-right: 107px;
    span {
      position: relative;
      padding-left: 31.5px;
      &::before {
        content: "";
        background-image: url("../img/viber.png");
        background-size: cover;
        width: 22px;
        height: 22px;
        position: absolute;
        left: 0;
        top: 2px;
      }
    }
  }
  .col-2-icon {
    display: none;
  }
  .col-2,
  .col-3 {
    padding-top: 25px;
    padding-left: 7px;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #fff;
    text-transform: capitalize;
  }
  .col-3 {
    text-transform: lowercase;
  }
  &__contact-icon {
    max-width: 270px;
    width: 100%;
    margin-left: 5px;
    margin-top: 45px;
    display: flex;
    justify-content: space-between;
    // gap: 38.43px;
    img {
      // width: 28px;
      // height: 28px;
      cursor: pointer;
    }
  }

  &__bottom {
    font-weight: 400;
    font-size: 18px;
    line-height: 175%;
    color: #fff;
    text-align: center;
    margin-top: 120px;
  }
}

.main-title {
  position: relative;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  font-size: 32px;
  line-height: 125%;
  /* or 40px */
  text-align: center;
  // margin-bottom: 80px;
  z-index: 1;
}
@import "_media";
